html {
    background-color: #282a36;
}
.container {
    display: flex;
    height: 98vh;
}

.container-item {
  color: blue;
  margin: auto;
  width: 50%;
  text-align: center;
  border-radius: 4rem;
  background-color: #44475a;
}

h1 {
  font-size: 5rem;
  color: #f8f8f2;
}
